*{
    margin: 0px;
    padding: 0px;
}
.donation-form{
    margin: 20px auto;
    width: 390px;
    border: none;
   
    padding: 10px;
   
}

@media only screen and (max-width:410px)
{
    .donation-form{
        margin: 20px auto;
        width: 300px;
        border: none;
       
        padding: 8px;
       
    }
   
}